<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Template Engine</title>
  </head>
  <body>
    <h2>This is My First EJS Engine</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde tempore
      quos fugit illo beatae nulla, repudiandae enim sed sunt consectetur cum
      fugiat maxime modi ipsam, itaque libero est ipsum blanditiis?
    </p>
  </body>
</html>
